RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^igreja(.*)$ igreja.php?nome=$1 [L]
RewriteRule ^evento-(.*)$ evento.php?evento=$1 [L]
RewriteRule ^inscricao-(.*)$ inscricao.php?evento=$1 [L]
RewriteRule ^mensagem-(.*)$ mensagem.php?mensagem=$1 [L]
RewriteRule ^noticia-(.*)$ noticia.php?noticia=$1 [L]
RewriteRule ^contribua(.*)$ contribua.php [L]
RewriteRule ^cadastro(.*)$ cadastro.php [L]
RewriteRule ^erro404(.*)$ erro404.php [L]
RewriteRule ^licoes-de-celula$ licoes-de-celula.php [L]
RewriteRule ^mensagens$ mensagens.php [L]
RewriteRule ^eventos$ eventos.php [L]
RewriteRule ^celulas$ celulas.php [L]
RewriteRule ^ministerios$ ministerios.php [L]
RewriteRule ^contato$ contato.php [L]
RewriteRule ^noticias$ noticias.php [L]





# Bloquear acesso direto ao arquivo "config.php"
#RewriteCond %{THE_REQUEST} "licoes" [NC]
# RewriteRule ^ - [F]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^localhost$ [NC]
RewriteRule ^licoes/?$ /ibmissaomultiplicar/erro404 [L,R=301]